h5{
    font-weight: bolder;
}
#head{
    /* display: none!important; */
}
@media screen and (min-width: 768px) and (max-width: 991.5px){
    .col-md-6{
        margin-top: 50px;
    }
    .row{
        padding-right: 0px;
    }
    .logo ul{
        display: none;
    }

    #head{
        position: fixed;
        z-index: 1;
    }
    .resp-menu{
        display: block;
    }
    .foot{
        gap: 30px;
        display: block!important;
        width: 100%;
        padding-left: 0px!important;
    }
    
    .footer{
        display: block!important;
        width: 100%;
    }
    .tester{
        display: block;
        text-align: center;
        width: 100%;
    }
    .button{
        text-align: center;
        margin: auto!important;
        margin-top: 30px!important;
    }
    .list{
        text-align: center;
        margin-top: 40px;
        display: block!important;
    }
    
}
@media screen and (min-width: 578px) and (max-width: 800px){
    .col-sm-12, .head h4, .head p{
        margin-top: 50px;
        padding: 2px 20px!important;
    }
    .row{
        padding-right: 0px;
    }
    .bg-light{
        display: block!important;
    }
    .menu-icon{
        display: block!important;
    }
    .logo ul a{
        display: none;
    }
    .resp-menu{
        display: block;
    }
    #head{
        position: fixed;
        z-index: 1;
    }
    #element,.switch{
        display: non!important;
    }
    .row, .head{
        padding-left: 0%!important;
        text-align: center;
    }
    .image3 img, .image4 img{
        height: 80vh!important;
        width: 105%!important;
        margin-bottom: 20vh!important;
    }
    
    .logo{
        display: flex!important;
    }
    .head h4{
        font-size: 60px;
        padding: 0px 40px;
    }
    .containr{
        display: none!important;
    }
    .mob_head{
        display: block!important;
        margin-top: 150px;
    }
    .background{
        display: block!important;
    }
    
    .footer{
        display: block!important;
        width: 100%;
    }
    .button{
        text-align: center;
        margin: auto!important;
        margin-top: 30px!important;
    }
    .tester{
        display: block;
        text-align: center;
        width: 100%;
    }
    .list{
        text-align: center;
        margin-top: 40px;
        display: block!important;
    }
    .foot{
        gap: 30px;
        display: block!important;
        width: 100%;
        padding-left: 0px!important;
    }
    .header{
       display: none!important;
    }
    #head{
        display: block!important;
    }
    /* .col img{
        margin-left: 50px;
    } */
}
@media screen and  (min-width: 300px) and (max-width: 578px){
    .col-sm-12, .head h4, .head p{
        margin-top: 50px;
        padding: 2px 20px!important;
    }
    .bg-light{
        display: block!important;
    }
    .menu-icon{
        display: block!important;
    }
    .topnav a{
        display: block;
    }
    .card{
        display: none;
    }
    .last{
        display: block;
    }
    .resp-menu{
        display: block;
    }
    .background .image3 {
        width: 95%!important;
        height: 50vh!important;
        position: absolute;
    }
    .background .image4{
        width: 75%!important;
        height: 50vh!important;
    }
    #head{
        display: block!important;
        position: fixed;
        z-index: 1;
    }
    #element,.switch{
       height: 4vh;
       margin: auto;    
    }
    .dark-mode{
        display: flex;
        width: 100%;
    }
    .row, .head{
        padding-left: 0%!important;
        text-align: center;
    }
    .logo{
        display: flex!important;
    }
    .head h4{
        font-size: 60px;
        padding: 0px 40px;
    }
    .containr{
        display: none!important;
    }
    .mob_head{
        display: block!important;
    }
    .background{
        display: block!important;
        margin-bottom: 0px!important;
    }
    
    .footer{
        display: block!important;
        width: 100%;
    }
    .button{
        text-align: center;
        margin: auto!important;
        margin-top: 30px!important;
    }
    .tester{
        display: block;
        text-align: center;
        width: 100%;
    }
    .list{
        text-align: center;
        margin-top: 40px;
        display: block!important;
    }
    .foot{
        gap: 30px;
        display: block!important;
        width: 100%;
        padding-left: 0px!important;
    }
    .header{
       display: none!important;
    }
    
}

.card img{
    width: 100%;
    height: 200px;
}

.contain3{
    padding-top: 50px;
}

.footer{
    background-color:  hsl(233, 26%, 24%);
    justify-content: space-between;
}
.foot{
    gap: 100px;
    padding-left: 110px;
}
.image img{
    color: white;
}

.button{
    margin-right: 100px;
}
.text{
    margin-top: 20px;
}
.socials{
    margin-top: 40px;
}
.socials span{
    margin: 5px;
}
.list1 li a:hover, .list2 li a:hover{
    color: hsl(136, 65%, 51%);
}
li a:hover, .text a:hover{
    color: gray;
}
button{
    background-color: hsl(136, 65%, 51%)!important;
}
@media screen and (min-width: 300px) and (max-width: 700px){
    .footer{
        display: block!important;
        width: 100%;
    }
    .button{
        text-align: center;
        margin: auto!important;
        margin-top: 30px!important;
    }
    .tester{
        display: block;
        text-align: center;
        width: 100%;
    }
    .list{
        text-align: center;
        margin-top: 40px;
        display: block!important;
    }
    .foot{
        gap: 30px;
        display: block!important;
        width: 100%;
        padding-left: 0px!important;
    }
    
} 
