/* styles.css */
body {
    background-color: white;
    /* color: black; */
}
body.dark-mode{
    background-color: #121212;
    color: white;
}
.light{
    background-color: green!important;
}
.content {
    font-size: 18px;
    width: 42%;
}
.article{
    margin-bottom: 20px;
    color: whitesmoke;
}
.contain3{
    color: #444;
}
.header {
    background-color: whitesmoke;
    color: #000;
}
.light{
    background-color: whitesmoke;
}
.light.dark-mode{
    background-color: green!important;
}
.header.dark-mode{
    background-color: green!important;
    color: #fff;
}
.footer {
    background-color: #d0d0d0;
    color: #000;
    padding: 10px;
}
.footer.dark-mode {
    background-color: #444;
    color: #fff;
}
