*{
    padding: 0;
    margin: 0;
}
.content{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    
}
.cont-inner{
    padding-left: 40px;
}
input{
    width: 50%;
    padding: 8px;
    border-radius: 20px;
    border: gray;
    outline: none;
}
.button{
    height: 40px;
    background-color: blue!important;
    margin-top: 20px;
    width: 50%;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    
}
#message{
    height: 100px;
    
}
::placeholder{
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.head{
    background-color: darkblue;
    height: 40px;
    width: 100%;
    padding-left: 0px!important;
}
.con{
    background-image: url(../images/Logos.jpeg)!important;
    height: 100vh;
}

.background{
    display: flex;
    height: 100vh;
}