*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue!important;
    position: fixed;
    width: 100%;
}
.content{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
}

.cont-inner{
    padding-left: 40px;
}
input{
    width: 65%;
    padding: 8px;
    border-radius: 10px;
    border: gray;
    outline: none;
}
.button{
    height: 40px;
    background-color: blue!important;
    margin-top: 20px;
    width: 65%;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
    
}
#message{
    height: 100px;
}
::placeholder{
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.head{
    background-color: darkblue;
    height: 60px;
    width: 100%;
    padding-left: 0px!important;
}
.background{
    display: flex;
    height: 100vh;
}
@media screen and (min-width: 300px) and (max-width: 800px){
    .content{
        width: 100%;
    }
    input{
        width: 85%;
    }
    .button{
        width: 85%;
    }
}