.card{
    padding: 40px!important;
    width: 80vh;
    cursor: pointer;
    margin: auto;
    border-radius: 20px;
    background-color: orange!important;
}
.card:hover{
    box-shadow: 0px 5px 10px 5px grey;
    transition: 1s;
}
.wallets{
    padding: 20px 0px ;
    margin: auto;
    border-radius: 20px;
    color: whitesmoke;
}
.header a:hover{
    color: black;
}
.header{
    z-index: 1;
    width: 100%;
    position: fixed; 
    align-items: center;
    height: 80px;
    font-size: 18px;
    background-color: hsl(220, 16%, 96%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    width: 100%;
    text-align: center;
}
a{
    color: black;
}
.num{
    background-color: rgb(239, 187, 124);
    width: 35%;
    display: flex;
    height: 5vh;
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 20px!important;
}
.fa-copy{
    font-size: 20px;
    margin-top: 6px;
}
.arrow{
    border: 2px solid;
    padding: 3px 8px;
    border-radius: 10px;
    margin-left: 10px;
}
@media screen and (min-width: 1000px) {
    .card{
        width: 50%!important;
    }
    .num{
        width: 50%!important;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .card{
        width: 70%!important;
    }
    .num{
        width: 45%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    .card{
        width: 90%;
    }
    .num{
        width: 60%;
    }
    .top{
        font-size: 18px!important;
    }
}
@media screen and (min-width: 300px) and (max-width: 500px){
    .card{
        width: 100%!important;
        padding: 20px!important;
    }
    .num{
        width: 60%!important;
    }
    .top{
        font-size: 12px!important;
    }
}